# Badge 9: Methods and Manipulating Strings, Numbers and Dates.

Note: This is a **JUPYTER NOTEBOOK**. It's a type of website where you can edit and run computer programms (code). You interact with it in your web browser and you can find it via your Learn.

1. These blocks here are cells.
2. There are **TEXT CELLS** like this one with explanations of concepts.
3. And **CODE CELLS** with Python code (see below). Code cells have a ```In []``` written to the left.
4. You can **RUN CODE CELLS** by clicking on them and pressing **Shirt + Enter**. When you run a cell code in it is run (it "happens", computer will do what you asked for it to do). Results of what your code does will appear underneath the cell.
5. As we go through these lessons, please READ text cells, and RUN code cells.
6. Good luck!

‚úÖ Remmeber to RUN ALL THE CELLS IN ORDER (if you skip some, you might see some unexpected errors).

# Learning objectives:

At the end of this badge you will know:

- How to operate on strings in number of ways.
- How to work with numbers and dates.
- Once we reach the task - how to use these skills on real data. 

### üîú SPOILER ALERT:

You will also understand these lines of code:

In [ ]:
# Remember to run all code cells from top to bottom as you go through Notebook.
# Lines starting with '#' are just comments, they won't output anything when run.

from datetime import datetime, timedelta, date, timezone

In [ ]:
print("Name:\tBlack Currants\t\tPrice:\t¬£1.80\t\tType:\tVeg")

In [ ]:
name = "  Mrs natasha gordon."
name = name.strip().rstrip(".").lower().lstrip('mrs ').title()
print(name)

In [ ]:
print( "{title:.<20}{page:.>4}".format(title="Introduction", page=1) )
print( "{title:.<20}{page:.>4}".format(title="Literature Review", page=23) )
print( "{title:.<20}{page:.>4}".format(title="MEthodology", page=40) )

In [ ]:
student = "Pim"
print("hello there "+student)
print("hello there {}".format(student))
print("hello there {name}".format(name=student))
print(f"hello there {student}")

In [ ]:
coffee_orders = [{'type': 'Latte', 'milk': 'Cow'}, 
                 {'type': 'Lungo', 'milk': 'No'}, 
                 {'type': 'Latte', 'milk': 'Oat', 'sugar': 2}]

shout_format = "One {type} with {milk} milk please!"

coffee_orders_to_shout = [ shout_format.format(type=coffee['type'], milk =coffee['milk'])
    for coffee in coffee_orders
]

print('\n'.join(coffee_orders_to_shout))

In [ ]:

date_object = datetime.strptime("18:30 2019-12-21", "%H:%M %Y-%m-%d")
print(date_object)

date_now = datetime.now()
date_now_as_string =  date_now.strftime("%M minutes past %-I%p on %A %-d of %B year %Y")
print(date_now_as_string)

date_3_weeks_ago = date.today() - timedelta(weeks=3)
print(date_3_weeks_ago)

 üéØ End of learning objectives üéØ

### Python Philosopphy:

In [ ]:

# We will talk about importing modules some time soon.
# But here's a fun hidden message from one of the authors of Python.
# (You will see the message whn you run this cell).

import this

# I mean, the whole language is named to celebrate a group of British comedians 'Monthy Python', so yeah.

### Getting user input: How to get some data from the person using your code?

**GETTING USER INPUT**: We will not do this much yet, but you can ask a user for an input using ```input("your question")```.
The program will then freeze and wait for an answer. The best thing to do is to assign the value(s) of the possible response to a variable.

In [ ]:
input("What's your name?") # This will ask for your name and return it.

**IMPORTANT! FREEZING CODE**: Notice that while your program is waiting for the input...

- Your whole code is frozen and waiting for your response, nothing else will work, until you answer the question.
- The cell which is waiting has an `In [*]` next to it, `*` meaning 'I'm processing / waiting'.
- Browser tab icon turns into an hour glass ‚è≥ (at the top, where you switch tabs in your browser).
- If you get stuck in the 'waiting mode' and don't know how to make it stop waiting (and nothing else works) you can choose 'Kernel > Restart' from the top menu of your Notebook. But often the easiest thing to do is answer the question that `input()` is waiting for. There'll be a small text box that appears underneath your code to type a response into.

In [ ]:
print( input("What's your name?")) # This will ask for your name and then print it.

In [ ]:
# MORE USEFUL - this will ask for your name and store it for later:

your_name = input("What's your name?") 

# As mentioned earlier, here we assign the value of the response - whatever the users name is - to a variable 'your_name'.

print("Hello", your_name)

Anything that the user types will always be a string. Because typing on a keyboard is interpreted as characters, even if these characters are numbers.

To use what a response typed as numbers, you need to `cast` it into numbers.

In [ ]:
this_will_be_a_string = input("Your favourite number")
print( "Doubled number:", 2 * int(this_will_be_a_string) )

But there is no need to cast responses into strings, they are already strings:

In [ ]:
user_input = input("Your favourite colour")
print(user_input + " is your favourite colour? How lovely!")

## Manipulating strings: String's build-in functions, often called 'methods'.

Note that "==" is very specific and will only return True if two values are IDENTICAL. That means that sometimes you need to mould your data to make sure you're asking the computer to do what you want it to do.

In [ ]:
# TRICKY BIT: Notice that strings on the right and left of '==' are DIFFERENT as far as Python is concerned.
print( "Christina" == "christina" )
print( "banana" == "BANANA" )

We can clean up (modify) values by using operations, and strings have a set of build-in functions to do that. 
`Build-in funtions`, sometimes called `methods`, are behaviours that come for free with Python, and allow us to do some common things to objects.

Some examples of common things you might want to do with strings are ```.lower()```, ```.upper()``` and ```.title()```. 

But also we will learn about more advanced thisngs like `.find()`, `.replace()`, `.strip()` and many more. 

To use such methods immediately after a variable or a value followed by a dot, put the name of a method, and then round brackets. If the method requires some arguments, you'll need to pass them in too (more about that later).

`some_variable.some_method()`

eg.

`
name.lower() /
"Banana".upper()
`

Note that these will be useful when you have to compare large quantities of messy, inconsistent data.

FOR THE CURIOUS: There are many more of these and I encourage you to read the Python documentation:

 https://docs.python.org/3/library/stdtypes.html#string-methods

It's quite a heavy read, but worth it.

In [ ]:
name = "Christina Estefania Rodriguez"
print(name.lower())
print(name.upper())
print(name.title())
print(name.capitalize())

In [ ]:
# You can type your own name and perform oparations on it.

name = input("What's your full name?")
print(name.lower())
print(name.upper())
print(name.title())
print(name.capitalize())

### Oh no! Methods ate my homework?

Luckily, most methods do not impact the string they were run on e.g. running `name.lower()` on a `name` string does not lowercase that string. It just **returns** a lowercased version of it, while the string maintains it's original identity.

In [ ]:
name = "Christina Estefania Rodriguez"
lowered_name = name.lower()

print(name) # Unchanged!
print(lowered_name) # The result!

Notice, in the next few examples, I am adding a "!" string around the things that I print, so that it's easier to see what is actually happening. 

If your variable contains "" (an empty string, effectively a space) it is hard to interpret what has been printed.

In [ ]:
empty_string = ""
print(empty_string)  # This will look rather confusing when printed. Run it to see.

In [ ]:
# But we can make it stand out, by surrounding it with some random characters e.g. '!!'

empty_string = ""
print("!"+ empty_string + "!") 
print("***"+ empty_string + "***")

In [ ]:
# Do you see what I mean? It's like making sure we can see the spaces.
# So that we know exactly where a string starts or ends! 

city_with_spaces = "   Tokyo "
print("!"+ city_with_spaces + "!")

Okay, back to examples:

In [ ]:
# Some string functions will let you clean up your strings. 
# I've put '!' on both sides, so we can see clearly what is printed.

text = "     spaces on both sides     "

# 'strip()' in it's simple form removes spaces from the value it was 'called on' (value to the left).

print("!"+ text +"!")
print("!"+ text.lstrip() +"!")
print("!"+ text.rstrip() +"!")
print("!"+ text.strip() +"!")

# Notice that spaces INSIDE of a sentence are NOT affected, just those at the BEGINNING and END.

In [ ]:
# But you can pass an argument into 'strip()' and it will clean up any characters.

price = "¬£10,230.12+tax"

print("!"+ price                +"!")
print("!"+ price.lstrip("¬£")    +"!")
print("!"+ price.rstrip("+tax") +"!")
print("!"+ price.strip("¬£+tax")     +"!")

### When in doubt 'what does this method do?' - check Documentation.

Top tip: To find documentation for something Google/internet search something like this...

`name_of_the_language object_youre_after method_you_are_after `

e.g.

`python string upper`

You could also try searching more vague things, like...

`how do i make all letters in a string all small in python`

Get into a habit of 'looking up' things in the documentation. For example, documentation for .strip() is pasted below, and here is the link: 
https://docs.python.org/3/library/stdtypes.html#str.strip 



>    `str.strip([chars])`
>
> Return a copy of the string with the leading and trailing characters removed. The chars argument is a string specifying the set of characters to be removed. If omitted or None, the chars argument defaults to removing whitespace. The chars argument is not a prefix or suffix; rather, all combinations of its values are stripped:
>
> ```
> '   spacious   '.strip()
> # 'spacious'
>
> 'www.example.com'.strip('cmowz.')
> # 'example'
> ```
>
> The outermost leading and trailing chars argument values are stripped from the string. Characters are removed from the leading end until reaching a string character that is not contained in the set of characters in chars. A similar action takes place on the trailing end. For example:
>
> ```
> comment_string = '#....... Section 3.2.1 Issue #32 .......'
> comment_string.strip('.#! ')
> # 'Section 3.2.1 Issue #32'
> ```

In your search you will find a few useful websites:
    
**Official Python Docs**: The actual and best place to see things. Written by the programmer teams who created Python. Sometimes a bit hard to digest, but solid. 

https://docs.python.org/3/

**Stack Overflow**: A question and answer website where community helps each other (think about making an account, it is an amazing resource!) If someone's answer helped you, you can give them some 'respect points'. Remember to be very kind to others when using it.

https://stackoverflow.com/search?q=python+string+methods

**Other, more 'human friendly' documentations**: There are fan pages and organisations who try to make documents more readable. They often succeed, but also you can find that the documentation is incomplete, out of date, or just wrong.  

https://www.w3schools.com/python/python_ref_string.asp
https://www.programiz.com/python-programming/methods/string

### Daisy-chaining or Piping methods - running a method on the output of another method.

**Daisy chaining** happens when you connect a cable e.g. power extension cord, to another extension cord, to another extension cord etc. to make them longer. It can be dangerous, cause fire and don't do it at home! 

But in code, it is fine, even if sometimes your code starts looking like spagthetti üçù, because you can't find the beginning and end of it.

**Piping (like, using water pipes)** happens when you connect many things to each other to create continuous flow, e.g. of water. It's essentially the same as daisy chaining, but sounds less fun.

You can chain i.e. combine one after another, different string operators. To do that you can put next operation right after another, Separated by dots, like...

```my_string.do_this().then_do_this().and_then_do_this()```

In [ ]:
# To turn "  Mrs natasha gordon." into "Natasha Gordon" you could...

name = "  Mrs natasha gordon."
print(name)

# First remove the spaces on both sides:

name = name.strip()
print(name)

# Then the dot on the right:

name = name.rstrip(".")
print(name)

# Then turn the string to lower case:
name = name.lower()
print(name)

# Then remove 'mrs' on the left:

name = name.lstrip('mrs ')
print(name)

# Then turn the string to title case:

name = name.title()
print(name)

# Note: Later in the course we might learn more efficient ways to do this.

In [ ]:
# but you can also chain these calls:
name = "  Mrs natasha gordon."
name = name.strip().rstrip(".").lower().lstrip('mrs ').title()
print(name)

# first remove spaces on both sides, then dot on the right, then turn to lower case,
# then remove mrs on the left, then turn to title case

# note: later in the course we might learn more efficient ways to do this

**NOTE ON THE ORDER OF READING CODE** 
When in doubt, like with `=` assignment which needed to perform right-hand-side part first:

When using `.` methods, you need to know what you are using them on. So before you can do `name.upper()` you need to be sure what `name` is. The same way if doing `name.strip().upper()` before you can do `upper()` you need to first know what the `name.strip()` is. That's why you read and perform things from left to right.

If it confuses you when you try to read a line like that, you can imagine brackets that indicate what happens first and what happens later. But in general putting unnecessery brackets in your code can make it harder to read.

In [ ]:
name = "  Mrs natasha gordon."
name = ((((name.strip()).rstrip(".")).lower()).lstrip('mrs ')).title()
print(name)

# While these brackets make it more explicit what is going on, they make the code harder to read :(
# So if you can help it, skip excessive brackets.

### Manipulating strings - 'Special Characters'.

**SPECIAL CHARACTERS**: some characters are not visible, but we want to include them into our prints to make things more readable or consistent. Some examples would be 'New Line' (Enter, on your keyboard), 'Tab' (flexible space which alligns with other tabs).

To add these we will use so called 'special characters' - characters that take two symbols to write. For example ```\t``` is a tab, and ```\n``` is a new line. 

**FOR THE CURIOUS**: The backslash ```\``` is called the `escape character`, because it means that you **do not mean the letter** that follows the `\`, but rather you mean **the hidden special meaning** of that letter.

So after a `\` a letter `t` does not mean a `t` but a `TAB` and `n` means a `NEW LINE`.

There are many special characters.

### Some usages of special characters and escaping:

One  odd, but frequent, use of escape character is to actually use the quote `'` or `"` in a string, without ending that string (notmally `'` or `"` would end a string). So if you want to have a quote in your string, without actually finishing the string, you'll need to make sure you escape the quote.

In [ ]:
print("The book was called "Detective Rebus's adventures" and was written in Edinburgh") # This line will fail

# Can you spot why this syntax is incorrect? Try to identify where the strings begin and end.
# Run it and read the error carefully, it will help you to find the exact place where things go wrong.
# Notice how colours are trying hard to help you ;)

In [ ]:
print("The book was called \"Detective Rebus's adventures\" and was written in Edinburgh") 

# Notice that above ' " ' did not finish a string, because you escaped it with ' \" '.

### Making things look pretty with Tab and New Line.

Another useful special character is TAB (written it '\t') and it can space things nicely on the screen. Without tab, things get  squashed and results can look disorganised. It is very useful when presenting data at various lengths, but making them easy to read.

Tabs are not perfect, but they do come in useful for printing things like tables.

In [ ]:
# Hard to read:

print("Name:OrangesPrice:¬£1.20Type: Fruit")
print("Name:PearPrice:¬£2.10Type:Fruit")
print("Name:TomatoPrice:¬£1.80Type:Veg")

In [ ]:
# Better, but still tricky:

print("Name:   Oranges   Price:   ¬£1.20   Type: Fruit")
print("Name:   Pear   Price:   ¬£2.10   Type:   Fruit")
print("Name:   Tomato   Price:   ¬£1.80   Type:   Veg")

In [ ]:
# Let's add some '\t' tabs - sometimes even two, to make it look even better:

print("Name:\tOranges\t\tPrice:\t¬£1.20\t\tType: \tFruit")
print("Name:\tPear\t\tPrice:\t¬£2.10\t\tType:\tFruit")
print("Name:\tTomato\t\tPrice:\t¬£1.80\t\tType:\tVeg")

In [ ]:
# The problem with tabs is that they will jump to the 'next available column' and long words break things:

print("Name:\tOranges\t\tPrice:\t¬£1.20\t\tType: \tFruit")
print("Name:\tPear\t\tPrice:\t¬£2.10\t\tType:\tFruit")
print("Name:\tTomato\t\tPrice:\t¬£1.80\t\tType:\tVeg")
print("Name:\tPineapple\t\tPrice:\t¬£2.10\t\tType:\tFruit")
print("Name:\tBlack Currants\t\tPrice:\t¬£1.80\t\tType:\tVeg")

# We'll discover an even nicer way soon.

New Line `\n` works like tab, but instead of jumping to next column, it moves to the next line.

In [ ]:
print("Monday 11am-5pm Tuesday 9am-5pm Wednesday 9am-5pm Thursday 9am-10pm Friday Closed")

In [ ]:
print("Mon 11am-5pm\nTue 9am-5pm\nWed 9am-5pm\nThur 9am-10pm\nFri Closed")

And for an extra presentable effect, you'll often want to combine tabs and new lines:

In [ ]:
print("Mon\t11am-5pm\nTue\t9am-5pm\nWed\t9am-5pm\nThu\t9am-10pm\nFri\tClosed")

In [ ]:
# We often use tab to create simple tables, especially when values are short:

print("Month\tDays\nJan\t31\nFeb\t28 or 29\nMar\t31")

## Manipulating Numbers.

There are also a lot of mathamatical operations you can perform on numbers, for them to present in the shape that you need them to be.

The most basic ones we've seen before e.g. `len()`. Here are some more:

**absolute value**:  `abs(number)` - number but without the `-` sign if it's below 0.

**as whole number**: `int(number)` - represented as an int (whole number) - this will remove decimal points, but not round it! 5.2 becomes 5, 5.7 becomes 5.

**rounded** - `round(number)`: round to a whole number. 5.2 becomes 5, 5.7 becomes 6.

**rounded with decimal places**: `round(number,3)` - round to 3 decimal spaces 5.212745 becomes 5.213 (note: 3 can be any number).

**to the power of**: `pow(number,3)` - raised to the power of 3 eg. 2 becomes 8 (2*2*2) (note: 3 is just an example number). 

**to the power of**: `number**3` - just another way to say raised to the power of 3.

In [ ]:
number = -3.776523 
print(number)
print(abs(number)) 
print(int(number)) 
print(round(number)) 
print(round(number,3)) 

# Try to change the number and see what happens.

In [ ]:
number = 3
print(pow(number,3)) 
print(number**3)

## String Formatting.

There are at least 3 or 4 ways to format strings in Python. We will look at some of them, but at any point just pick one that you like and feel will work for the task at hand.

### String formatting method 1: Just add them with a `+`.

`"My name is "+ "Dawn"`

We previously combined strings into sentences by just using '+' operator, but it gets very complicated and unclean really quickly.

Advantages:

- Simple and quick when doing a small simple job.

Disadvantages:

- Gets very tricky for larger jobs.
- Easy to make a typo or forget a quote.
- You need to add spaces manually ü•≤.
- To add a number to the string, you need to cast the number into a string first with `str(your_number)`.

In [ ]:
name = "Judy"
time_of_day = "morning"
sentence = "Hello, good"+ time_of_day + ", my name is" + name + ", how do you do?"
print(sentence)

In [ ]:
# Oh yeah, you will often catch yourself forgetting spaces. Let's fix it:

sentence = "Hello, good "+ time_of_day + ", my name is " + name + ", how do you do?"
print(sentence)

### String formatting method 2: `.format( )` syntax - specify string with place holders, then replace them with variables.

Every string can be formatted using the ```.format()``` method that is built into each string, just like ```.upper()```. 

The ```format()``` method is used like this: ```"My name is {} and I am {} years old".format("Jo", 23)```.

- It is called on a string that contains some placeholders ```{}```.
- It can take any number of argument variables, but those numbers have to be the same as the number of ```{}``` placeholders in the string.
- It will replace each ```{}``` placeholder with the next variable. If there are many `{}` and variables, replacement will happen in the same order as they come.
- You can use 'temporary names' when passing in variables, so that the placeholders can be more meaningful, like `{name}` if you specified `name="someone"`.

In general the format is like this:

`"Placeholder with some {} spaces for {} variables".format(variable, another_variable)`

For example:

`"My name is {}".format("Dawn")`

You need to give as many variables as you provided `{}` placeholders. Variables will fill the gaps in the order they are given:

`"My first name is {}, my surname is {}.".format("Dawn", "Summers")`

Once you have multiple variables, you can see it becomes hard to read. So you can give them 'temporary names':

`"My first name is {name}, my surname is {surname}.".format(name="Dawn", surname="Summers")`

As with the example above, `.format()` will find all the empty gaps in the string, which are marked with a `{}` and replace them with arguments given to the format function. Order is meaningful, unless you give your arguments special names and use there names in the placeholders, like `{name}` or you can use indexes of the aruments like `{0}`

Advantages:

- Clear and easy to use.
- Very flexible.
- No need to cast numbers into strings `str(345)`, like before.
- Allows for formatting of numbers e.g. number of decimal places, which you'll see more of in a minute.
- Forces you to separate output format from data (always a good idea!). 

Disadvantages:

- Takes some planning to use (which is also an advantage sometimes!)

In [ ]:
# Simple, but can get confusing:

"My name is {} and I am {} years and {} months old.".format("Jo", 23, 2)

In [ ]:
# Might work, but not very flexible when order changes:

"My name is {0} and I am {1} years and {2} months old".format("Jo", 23, 2)

In [ ]:
# Best, readable, and flexible:

"My name is {name} and I am {years} years and {months} months old".format(name="Jo", years=23, months=2)

You can also perform calculations right where you pass in function arguments:

In [ ]:
x = 20
y = 5
"{} is {} divided by {}".format(x/y, x, y)

### String formatting 3: Oldschool %s syntax - precursor to .format( ) we will not use this. It's too 1970s.

We would not use this, but just in case it comes up in someone else's code:

`"My name is {} and I am {} years and {} months old.".format("Jo", 23, 2.1)`

Used to be written as...

`"My name is %s and I am %d years and %f months old." % ("Jo", 23, 2.25)`

Notice that this old method requires you to specify what type of variable will be places in each spot.

**%d** for integers like 345.

**%f** for floats (decimal numbers) like 345.67.

**%s** for strings like "banana".

In [ ]:
# These two lines do the same thing, but .format() is more modern and easier to use.

print("My name is %s and I am %d years and %f months old." % ("Jo", 23, 2.25))
print("My name is {} and I am {} years and {} months old.".format("Jo", 23, 2.25))

### String formatting 4: The 'fast format' of 'f strings' - like format, but bundled together ‚≠êÔ∏è

Fast strings take the `.format()` and make it even easier to use. But it's up to you which one you prefer.

Let's imagine we have three variables:

```
name = "Jo"
years = 23
months = 2.25
```

You already know `.format()` syntax:

`"My name is {} and I am {} years and {} months old.".format(name, years, months)`

And here is the 'fast string' version:

You just need to use the letter `f` before yoru string, so that Python knows you intend to use the 'f format':

`f"My name is {name} and I am {years} years and {months} months old."`

**Basically you can put variables surrounded by `{ }` brackets, right into the string starting with `f""`.**

In [ ]:
# These two lines do the same thing. above is the 'format()' you already know, below is the "f string" format.

name = "Jo"
years = 23
months = 2.25

# 'format()':

print("My name is {} and I am {} years and {} months old.".format(name, years, months))

# 'fast string' - simpler, cleaner and more readable:

print(f"My name is {name} and I am {years} years and {months} months old.")

## Formatting numbers when we put them in strings.

Oh, but what if you REALLY do not like the `2.25 months`? Would it not be nice to be able to transform/round the strings during the formatting?

Well, you can! And it will look like this:

You can also format numbers and strings to display them exactly in a way that you'd like:

Inspect carefully below the examples. In general the format is as follows:

`"{ variable_name : number_formatting f}` - f stands for `float` which is a term for a decimal number, just like `int` is a word for a whole number.

- `{number}` - just print the number e.g. "123456.6789".
- `{number:.2f}` - trim to 2 decimal places e.g "123456.68".
- `{number:12.2f}` - use 12 places in total, trim to 2 decimal places e.g "   123456.68".
- `{number:012.2f}` - use 12 places/numbers in total, fill gap with '0's trim to 2 decimal places e.g "000123456.68".
- ... etc look at the exmaples below and figure out which code does what.

In [ ]:
# All of the below will work with 'format()' and 'f strings':

my_number = 123456.6789
print(f"Formatted version is {my_number:012.2f}")
print("Formatted version is {:012.2f}".format(my_number))
print("Formatted version is {number:012.2f}".format(number = my_number))

In [ ]:
x = 123456.6789

print( "{number} default ".format(number = x) )
print( "{number:.2f} rounded to two decimal places".format(number = x) )
print( "{number:12.2f} rounded to two decimal places, taking up 12 spaces".format(number = x) )
print( "{number:012.2f} rounded to two decimal places, taking up 12 spaces filled with 0".format(number = x) )

In [ ]:
# You can also add a space ' " " ' after ':' to indicate an optional gap for '-' sign.

x = 123456.6789

print( "Monday: {number: f}".format(number = x) )
print( "Tuesday: {number: f}".format(number = -1 * x) )
print( "Wednesday: {number: f}".format(number = -1 * x) )
print( "Thursday: {number: f}".format(number =  x) )
print( "Friday: {number: f}".format(number = -1 * x) )

Notice, this does not look great. It would be better if we could allocate the same amount of space for each number. That's where the notion of 'allocated space' comes in. and `<` `>` and `^` (to type it use `Shift + 6` on most keyboards). They will put the value you're allocating to the left, right or middle. You can also assign a `filler character` for all of the below situations. See examples below:

In [ ]:
print( "{number:<15.2f} left aligned within allocated space".format(number = x) )
print( "{number:>15.2f} right aligned within allocated space".format(number = x) )
print( "{number:^15.2f} center aligned within allocated space".format(number = x) )
print( "{number:*^15.2f} and a filler character".format(number = x) )
print( "{number:=^15.2f} and a filler character".format(number = x) )
print( "{number: ^15.2f} and a filler character".format(number = x) )

But watch out with allocated space - if your content is too too long, it will get trimmed! 

If there are two numbers in the format, like `{number: ^15.2f}` the first number is the space allocated for the content, and the second number after `.` is a character count.

- For numbers it means number of decimal places.
- For strings it means how many characters from the variable should be used.

In [ ]:
sentence = "A very very long sentence"

print( "Sentence: {:-<30.30}!".format(sentence) ) # Allocate 30 spaces, and take 30 characters.
print( "Sentence: {:-<30.20}!".format(sentence) ) # Allocate 30 spaces, and take 20 characters.
print( "Sentence: {:-<30.10}!".format(sentence) ) # Allocate 30 spaces, and take 10 characters.
print( "Sentence: {:-<20.10}!".format(sentence) ) # Allocate 20 spaces, and take 10 characters.

In [ ]:
# More examples:

print( "{word:10}Yay!".format(word="Banana") )
print( "{word:10}Yay!".format(word="Pineapple") )
print( "{word:^10}Yay!".format(word="Banana") )
print( "{word:*^10}Yay!".format(word="Banana") )

In [ ]:
# But if the variable is longer than the allocated space, it will spread and take up more space. 

print( "{word:-^10}Yay!".format(word="Banana-Pinapple-Hybrid") )

# Unless forced to be shorter:

print( "{word:-^10.10}Yay!".format(word="Banana-Pinapple-Hybrid") )

If you'd like to know more, you can refer to this very thorough tutorial by following the link below:

https://www.programiz.com/python-programming/methods/string/format

### Actually CHANGING numbers. Above was just for formatting numbers as strings.

In [ ]:

# Note that most math methods do not change the variable itself, just return the new adapted value.

print(round(1.11))
print(round(1.61))

# 'round' is built into Python. Like 'len()' or 'print()'.

In [ ]:
# But for more specialised math functions, we need to import the 'math library'.
# 'math' is only one of thousands of libraries you can use in Python:

import math

print(math.ceil(1.111)) # round forced up
print(math.floor(1.611)) # round forced down
print(math.sqrt(4)) # root
print(math.log(10)) # log

### Some examples of combining above techniques.

It is always your decision if you want to change the actual data, or just format it when you change them into a string.

In [ ]:
boxes = 235
boxes_per_container = 49
containers_needed = math.ceil(boxes / boxes_per_container)

report_template = "We have {} boxes, so we need {} containers, each with capacity {} boxes"

print( report_template.format( boxes, containers_needed, boxes_per_container) )

You are very likely to use format with list comprehensions:

In [ ]:
coffee_orders = [{'type': 'Latte', 'milk': 'Cow'}, 
                 {'type': 'Lungo', 'milk': 'No'}, 
                 {'type': 'Latte', 'milk': 'Oat', 'sugar': 2}]

shout_format = "One {type} with {milk} milk please!"

coffee_orders_to_shout = [ shout_format.format(type=coffee['type'], milk =coffee['milk'])
    for coffee in coffee_orders
]

print(coffee_orders_to_shout)

In [ ]:
# Or you could 'join' these strings with a new line character '\n' into one long string.

print('\n'.join(coffee_orders_to_shout))

### **TOTALLY OPTIONAL BUT REALLY USEFUL: Explode Operator üí•üí•**

**Advanced technique, use with caution: `**` Explode Operator - `format()` is your best friend if your data is in a dictionary!**

The above 'format()'gets VERY handy when you have your data in a dictionary. That's because you can load the whole map into format and drill into it inside of `{}`.

There is an EVEN BETTER way to do it which you will see one day.

In [ ]:
person_info = {'name':"Jo", 'years':23, 'months':2}
"My name is {info[name]} and I am {info[years]} years and {info[months]} months old".format(info = person_info)

Indeed, often you will store your a `"{}"` format string in a variable:

In [ ]:
person_info = {'name':"Jo", 'years':23, 'months':2}
intro_sentence = "My name is {info[name]} and I am {info[years]} years and {info[months]} months old"

print(intro_sentence.format(info = person_info))

A very advanced, but super useful technique in Python is called 'Explode Operator'. In some very specific conditions, it is capable of 'exploding' a `Dictionary` into a bunch of variables.

An example it would explode: 

`person_info = {'name':"Jo", 'years':23, 'months':2}`

Into...

```
name = "Jo"
years = 23
months = 2
```

Well... sort of, and also in very specific situations. And one of these situations is calling a function. If you explode a dictionary while calling a function **with named arguments** it will try to match keys in a dictionary with the argument names.

So if you have a function with named arguments like this:

In [ ]:
def wrap_word_in_bracket(bracket, sentence):
    return bracket + sentence + bracket

# You can just call the function:

print(wrap_word_in_bracket("***", "It's my birthday"))

In [ ]:
# Or provide named arguments.

print(wrap_word_in_bracket(bracket= "***", sentence="It's my birthday"))

# Note they can be in any order!

print(wrap_word_in_bracket( sentence="It's my birthday" ,bracket= "***"))

In [ ]:
# But if your data is in a Dictionary...

my_data = {'sentence':"It's my birthday", 'bracket': "***"}

# You don't have to do this:

print(wrap_word_in_bracket( sentence = my_data['sentence'] , bracket = my_data['bracket']))

In [ ]:
# But rather you could do this:
# Explode 'my_data'...

print(wrap_word_in_bracket(**my_data))

Here's an example:

In [ ]:
person_info = {'name':"Jo", 'years':23, 'months':2}
intro_sentence = "My name is {name} and I am {years} years and {months} months old"

print(intro_sentence.format(**person_info))

You might see `**` in someone else's code, or a tutorial, but be careful when using it. Be sure to spend some time understanding what it does.

In [ ]:
# This is how you sometimes see it used with list comps and dicts:

coffee_orders = [{'type': 'Latte', 'milk': 'Cow'}, 
                 {'type': 'Lungo', 'milk': 'No'}, 
                 {'type': 'Latte', 'milk': 'Oat', 'sugar': 2}]

sentence_structure = "One {type} with {milk} milk please!"

coffee_orders_to_shout = [
    sentence_structure.format(**coffee)
    for coffee in coffee_orders
]

print(coffee_orders_to_shout)

## Working with Date and Time.

When talking about calendar and clock values, the date and time can come in all sorts of formats.

For exampe half past noon of the 30th of March 2021 can be written as...

`2021-03-30 12:30:00` or 

`30 Mar 2021 12:30pm GMT` or

`Tuesday, 30 March 2021 12:30:00` or 

`1617107400` 

This last one is called 'Epoch time', and is a number of seconds from 'the beginning of time'*.

*midnight of 1 Jan 1970 is officially recognised as 'the beginning of time' in computers. Yes... it might be a little bit off, but let's just play along.

Sometimes time is just accurate to the date, sometimes to a second, or milisecond. Sometimes it even includes a timezone.

### Time as String vs. Time as an Object.

Often time is given to you as a string like `2021-03-30 12:30:00`. 

**But imagine having to figure out what date will it be one month later**

Hmm... you could take characters at indexes from 5 to 6, increase them by 1, then put them back... But what if the month was December? We would need to also figure out how to increase the year, and then decrease month... Do you see the trouble that could follow?

Instead it would be nice to be able to create a `Date Object` which would have methods (just like string had `.upper()` and list had `.pop()`). These functions could be something like `.add_month()`.

Let's see what Python has to offer:

### Reading time from a string:

While we can store time as a string like `2021-03-30 12:30:00` it would be rather complicated to calculate the amount of time passed between two dates in that format. 

Imagine trying to explain to a computer - How many days are between `2020-12-21 18:30:00` and `2021-03-30 12:30:00`.

That's why we usually translate time strings into time 'objects', it's easiest to think of them as Epoch times (seconds from the beginning of time).

So to find out **How many days** are between `2020-12-21 18:30:00` and `2021-03-30 12:30:00`, I would turn both dates into their amounts of seconds since 1 Jan 1970 (`1608575400` and `1617107400` respectively), then subtract them. Turns out there is `8532000` seconds between these two moments. Which is equal to `98.75` days.

Luckily Python offer us helpful syntax to do these types of calculations. Instead of turning dates into long numbers we will turn them into date objects, which (like strings or lists) will have some helpful behaviours built into them. **Awesome right!**

There are a lot of date formats, so often you have to specify which one exactly you expect. See example below:

We'll use function `datetime.strptime( date_as_string, date_format)`...

In [ ]:
from datetime import datetime, timedelta, date, timezone

# 21 Dec 2019 6:30pm:

date_object = datetime.strptime("18:30 2019-12-21", "%H:%M %Y-%m-%d")
print(date_object)

# 21 Dec 2019 midnight:

date_object_midnight = datetime.strptime("21 December 2019", "%d %B %Y")
print(date_object_midnight) 

# If you just print the object, it will produce a simplified version of the date. 
# Later you will see how to specify your own format.

### Operations on dates:

Once we have a date object we can ask for particular details of it, or we can perform calculations on it:

In [ ]:
print(date_object.year)
print(date_object.hour)
print(date_object.minute)

In [ ]:
# To find out all the options, google it, or type 'date_in_the_future'. 
# And press TAB on your keyboard after the dot - try to find out which month it is.

print(date_object.   ) # Stop after the dot, and press Tab.

We'll learn more about it when we talk about objects. But now just a quick explanation:

Sometimes circumstacnes are extra tricky, and some details come from `attributes` of the object. That means they are `variables` hidden inside the object. You access them like this: `date_object.year`. 

And some other details are held in `methods` meaning `functions` hidden inside the object. As methods/functions, they need to be **called** with `( )` so we access them like this: `date_object.weekday()`.

If you'd like to know more, find the documentation by internet searching "python datetime methods" - Now try to find out what does `.weekday()` do?

In [ ]:
print(date_object.minute)
print(date_object.weekday())

You can get a time object for current time with `datetime.now()`.

You can also subtract dates from each other to find out distance between them, just like you would do with numbers.

`time_now - time_some_time_in_past`

Subtracting two time objects will produce a `timedelta` object. Just like dividing two whole numbers could return a decimal float number. Have a look below:

In [ ]:
now = datetime.now()
time_difference = now - date_object 
print(time_difference)
print(time_difference.days)

In [ ]:
# How to find out if a date is in the past, or future? You could check if difference is negative!

time_difference =  date_object - now
print(time_difference)

# You could for example check if it has any seconds.

print(time_difference.seconds > 0)

To add a number of days eg. 10 to a particular date, you can create a date interval of 10h and add them together.

In [ ]:
from datetime import timedelta, date, timezone

date_in_10_days = date.today() + timedelta(days=10)
print(date_in_10_days)

date_3_weeks_ago = date.today() - timedelta(weeks=3)
print(date_3_weeks_ago)

### Turning dates back into strings.

Finally when we want to turn the dates back into a string we can use the same formatiing rules, like in the example below:

In [ ]:
date_now = datetime.now()
date_now_as_string =  date_now.strftime("%M minutes past %-I%p on %A %-d of %B year %Y")
print(date_now_as_string)

You have complete freedom on how to shape your dates.

Here's a cheat sheet of all date formatting options. No need to know them all, just refer to this table.

To read more on date formatting try this tutorial https://www.programiz.com/python-programming/datetime/strftime and here is a most useful part of the tutorial pasted:

Directive	Meaning	Example

```
%a	Abbreviated weekday name.	Sun, Mon, ...
%A	Full weekday name.	Sunday, Monday, ...
%w	Weekday as a decimal number.	0, 1, ..., 6
%d	Day of the month as a zero-padded decimal.	01, 02, ..., 31
%-d	Day of the month as a decimal number.	1, 2, ..., 30
%b	Abbreviated month name.	Jan, Feb, ..., Dec
%B	Full month name.	January, February, ...
%m	Month as a zero-padded decimal number.	01, 02, ..., 12
%-m	Month as a decimal number.	1, 2, ..., 12
```

```
%y	Year without century as a zero-padded decimal number.	00, 01, ..., 99
%-y	Year without century as a decimal number.	0, 1, ..., 99
%Y	Year with century as a decimal number.	2013, 2019 etc.
%H	Hour (24-hour clock) as a zero-padded decimal number.	00, 01, ..., 23
%-H	Hour (24-hour clock) as a decimal number.	0, 1, ..., 23
%I	Hour (12-hour clock) as a zero-padded decimal number.	01, 02, ..., 12
%-I	Hour (12-hour clock) as a decimal number.	1, 2, ... 12
%p	Locale‚Äôs AM or PM.	AM, PM
%M	Minute as a zero-padded decimal number.	00, 01, ..., 59
%-M	Minute as a decimal number.	0, 1, ..., 59
%S	Second as a zero-padded decimal number.	00, 01, ..., 59
```

```
%-S	Second as a decimal number.	0, 1, ..., 59
%f	Microsecond as a decimal number, zero-padded on the left.	000000 - 999999
%z	UTC offset in the form +HHMM or -HHMM.	 
%Z	Time zone name.	 
%j	Day of the year as a zero-padded decimal number.	001, 002, ..., 366
%-j	Day of the year as a decimal number.	1, 2, ..., 366
%U	Week number of the year (Sunday as the first day of the week). All days in a new year preceding the first Sunday are considered to be in week 0.	00, 01, ..., 53
%W	Week number of the year (Monday as the first day of the week). All days in a new year preceding the first Monday are considered to be in week 0.	00, 01, ..., 53
%c	Locale‚Äôs appropriate date and time representation.	Mon Sep 30 07:06:05 2013
%x	Locale‚Äôs appropriate date representation.	09/30/13
%X	Locale‚Äôs appropriate time representation.	07:06:05
%%	A literal '%' character.	%
```

## ‚≠êÔ∏è‚≠êÔ∏è‚≠êÔ∏èüí• What you have learned in this session: Three stars and a wish. 
**In your own words** write in your Learn diary:

- 3 things you would like to remember from this badge.
- 1 thing you wish to understand better in the future or a question you'd like to ask.

# ‚õè  Minitask: Show stats about Star Wars movies.

This is a taster of us using an online data source (API). This time, I used one for you, and will just give you the results.

Below you will find information about 10 movies from the Star Wars series. Use things you learned in this badge (and previous badges, especially Lists, Dictionaries and List Comprehensions) to show movie information in an interesting way.

Try to write a function or two which takes below data as an argument, and returns a string describing the movies. Have a look at the example below.

Have a look at what is there in the data and try to have fun with it. You have access to actors, plot, awards, length, box-office earnings and ratings!

If you do not know what to play with, try to visualise answers to a particular quiestion. Here are some ideas:

- Do longer movies have higher ratings? (Visualise lengths and ratings together.)
- Which actors played in each movie?
- List movies with the amount of time FROM TODAY that passed since they were released.
- Or come up with your own questions.

In [ ]:
# Before you start building your functions, run the cell below, which starts with 
# 'Infos_about_movies = [{'Title': 'Star Wars'...'

# Example function:

def all_titles_with_years(movies_data):
    sentence_template = "{title:.<70}{year}"
    info_of_movies = [
        sentence_template.format(title = movie['Title'], year = movie['Year'] )
        for movie in movies_data
    ]
    return "\n".join(info_of_movies)
    # Use a new line, to join all the movie descriptor lines.
    
def info_for_one_movie(one_movie):
    sentence_template = "({year}) {title}\n{plot}\nRating: {rating}\n"
    return sentence_template.format(title = one_movie['Title'],
                                 year = one_movie['Year'], 
                                 plot = one_movie['Plot'],
                                 rating = one_movie['Ratings'][0]['Value'] )

In [ ]:
# Call the function and print it's result.

print(all_titles_with_years(infos_about_movies))

In [ ]:
print(info_for_one_movie(infos_about_movies[0]))

In [ ]:
# To load the data into memory, run this cell first. (Once is enough!)

infos_about_movies = [{'Title': 'Star Wars',
  'Year': '1977',
  'Rated': 'PG',
  'Released': '25 May 1977',
  'Runtime': '121 min',
  'Genre': 'Action, Adventure, Fantasy',
  'Director': 'George Lucas',
  'Writer': 'George Lucas',
  'Actors': 'Mark Hamill, Harrison Ford, Carrie Fisher',
  'Plot': "Luke Skywalker joins forces with a Jedi Knight, a cocky pilot, a Wookiee and two droids to save the galaxy from the Empire's world-destroying battle station, while also attempting to rescue Princess Leia from the mysterious Darth Vad",
  'Language': 'English',
  'Country': 'United States, United Kingdom',
  'Awards': 'Won 7 Oscars. 63 wins & 29 nominations total',
  'Poster': 'https://m.media-amazon.com/images/M/MV5BNzVlY2MwMjktM2E4OS00Y2Y3LWE3ZjctYzhkZGM3YzA1ZWM2XkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_SX300.jpg',
  'Ratings': [{'Source': 'Internet Movie Database', 'Value': '8.6/10'},
   {'Source': 'Rotten Tomatoes', 'Value': '92%'},
   {'Source': 'Metacritic', 'Value': '90/100'}],
  'Metascore': '90',
  'imdbRating': '8.6',
  'imdbVotes': '1,276,172',
  'imdbID': 'tt0076759',
  'Type': 'movie',
  'DVD': '06 Dec 2005',
  'BoxOffice': '$460,998,507',
  'Production': 'N/A',
  'Website': 'N/A',
  'Response': 'True'},
 {'Title': 'Star Wars: Episode V - The Empire Strikes Back',
  'Year': '1980',
  'Rated': 'PG',
  'Released': '20 Jun 1980',
  'Runtime': '124 min',
  'Genre': 'Action, Adventure, Fantasy',
  'Director': 'Irvin Kershner',
  'Writer': 'Leigh Brackett, Lawrence Kasdan, George Lucas',
  'Actors': 'Mark Hamill, Harrison Ford, Carrie Fisher',
  'Plot': 'After the Rebels are brutally overpowered by the Empire on the ice planet Hoth, Luke Skywalker begins Jedi training with Yoda, while his friends are pursued across the galaxy by Darth Vader and bounty hunter Boba Fett.',
  'Language': 'English',
  'Country': 'United States, United Kingdom',
  'Awards': 'Won 2 Oscars. 25 wins & 20 nominations total',
  'Poster': 'https://m.media-amazon.com/images/M/MV5BYmU1NDRjNDgtMzhiMi00NjZmLTg5NGItZDNiZjU5NTU4OTE0XkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_SX300.jpg',
  'Ratings': [{'Source': 'Internet Movie Database', 'Value': '8.7/10'},
   {'Source': 'Rotten Tomatoes', 'Value': '94%'},
   {'Source': 'Metacritic', 'Value': '82/100'}],
  'Metascore': '82',
  'imdbRating': '8.7',
  'imdbVotes': '1,204,382',
  'imdbID': 'tt0080684',
  'Type': 'movie',
  'DVD': '21 Sep 2004',
  'BoxOffice': '$292,753,960',
  'Production': 'N/A',
  'Website': 'N/A',
  'Response': 'True'},
 {'Title': 'Star Wars: Episode VI - Return of the Jedi',
  'Year': '1983',
  'Rated': 'PG',
  'Released': '25 May 1983',
  'Runtime': '131 min',
  'Genre': 'Action, Adventure, Fantasy',
  'Director': 'Richard Marquand',
  'Writer': 'Lawrence Kasdan, George Lucas',
  'Actors': 'Mark Hamill, Harrison Ford, Carrie Fisher',
  'Plot': "After a daring mission to rescue Han Solo from Jabba the Hutt, the Rebels dispatch to Endor to destroy the second Death Star. Meanwhile, Luke struggles to help Darth Vader back from the dark side without falling into the Emperor's tr",
  'Language': 'English',
  'Country': 'United States, United Kingdom',
  'Awards': 'Won 1 Oscar. 22 wins & 20 nominations total',
  'Poster': 'https://m.media-amazon.com/images/M/MV5BOWZlMjFiYzgtMTUzNC00Y2IzLTk1NTMtZmNhMTczNTk0ODk1XkEyXkFqcGdeQXVyNTAyODkwOQ@@._V1_SX300.jpg',
  'Ratings': [{'Source': 'Internet Movie Database', 'Value': '8.3/10'},
   {'Source': 'Rotten Tomatoes', 'Value': '82%'},
   {'Source': 'Metacritic', 'Value': '58/100'}],
  'Metascore': '58',
  'imdbRating': '8.3',
  'imdbVotes': '985,797',
  'imdbID': 'tt0086190',
  'Type': 'movie',
  'DVD': '21 Sep 2004',
  'BoxOffice': '$309,306,177',
  'Production': 'N/A',
  'Website': 'N/A',
  'Response': 'True'},
 {'Title': 'Star Wars: Episode VII - The Force Awakens',
  'Year': '2015',
  'Rated': 'PG-13',
  'Released': '18 Dec 2015',
  'Runtime': '138 min',
  'Genre': 'Action, Adventure, Sci-Fi',
  'Director': 'J.J. Abrams',
  'Writer': 'Lawrence Kasdan, J.J. Abrams, Michael Arndt',
  'Actors': 'Daisy Ridley, John Boyega, Oscar Isaac',
  'Plot': 'As a new threat to the galaxy rises, Rey, a desert scavenger, and Finn, an ex-stormtrooper, must join Han Solo and Chewbacca to search for the one hope of restoring peace.',
  'Language': 'English',
  'Country': 'United States',
  'Awards': 'Nominated for 5 Oscars. 62 wins & 136 nominations total',
  'Poster': 'https://m.media-amazon.com/images/M/MV5BOTAzODEzNDAzMl5BMl5BanBnXkFtZTgwMDU1MTgzNzE@._V1_SX300.jpg',
  'Ratings': [{'Source': 'Internet Movie Database', 'Value': '7.8/10'},
   {'Source': 'Rotten Tomatoes', 'Value': '93%'},
   {'Source': 'Metacritic', 'Value': '80/100'}],
  'Metascore': '80',
  'imdbRating': '7.8',
  'imdbVotes': '884,789',
  'imdbID': 'tt2488496',
  'Type': 'movie',
  'DVD': '05 Apr 2016',
  'BoxOffice': '$936,662,225',
  'Production': 'N/A',
  'Website': 'N/A',
  'Response': 'True'},
 {'Title': 'Star Wars: Episode I - The Phantom Menace',
  'Year': '1999',
  'Rated': 'PG',
  'Released': '19 May 1999',
  'Runtime': '136 min',
  'Genre': 'Action, Adventure, Fantasy',
  'Director': 'George Lucas',
  'Writer': 'George Lucas',
  'Actors': 'Ewan McGregor, Liam Neeson, Natalie Portman',
  'Plot': 'Two Jedi escape a hostile blockade to find allies and come across a young boy who may bring balance to the Force, but the long dormant Sith resurface to claim their original glory.',
  'Language': 'English, Sanskrit',
  'Country': 'United States',
  'Awards': 'Nominated for 3 Oscars. 26 wins & 69 nominations total',
  'Poster': 'https://m.media-amazon.com/images/M/MV5BYTRhNjcwNWQtMGJmMi00NmQyLWE2YzItODVmMTdjNWI0ZDA2XkEyXkFqcGdeQXVyNTAyODkwOQ@@._V1_SX300.jpg',
  'Ratings': [{'Source': 'Internet Movie Database', 'Value': '6.5/10'},
   {'Source': 'Rotten Tomatoes', 'Value': '52%'},
   {'Source': 'Metacritic', 'Value': '51/100'}],
  'Metascore': '51',
  'imdbRating': '6.5',
  'imdbVotes': '755,569',
  'imdbID': 'tt0120915',
  'Type': 'movie',
  'DVD': '22 Mar 2005',
  'BoxOffice': '$474,544,677',
  'Production': 'N/A',
  'Website': 'N/A',
  'Response': 'True'},
 {'Title': 'Star Wars: Episode III - Revenge of the Sith',
  'Year': '2005',
  'Rated': 'PG-13',
  'Released': '19 May 2005',
  'Runtime': '140 min',
  'Genre': 'Action, Adventure, Fantasy',
  'Director': 'George Lucas',
  'Writer': 'George Lucas',
  'Actors': 'Hayden Christensen, Natalie Portman, Ewan McGregor',
  'Plot': 'Three years into the Clone Wars, the Jedi rescue Palpatine from Count Dooku. As Obi-Wan pursues a new threat, Anakin acts as a double agent between the Jedi Council and Palpatine and is lured into a sinister plan to rule the galaxy.',
  'Language': 'English',
  'Country': 'United States',
  'Awards': 'Nominated for 1 Oscar. 26 wins & 63 nominations total',
  'Poster': 'https://m.media-amazon.com/images/M/MV5BNTc4MTc3NTQ5OF5BMl5BanBnXkFtZTcwOTg0NjI4NA@@._V1_SX300.jpg',
  'Ratings': [{'Source': 'Internet Movie Database', 'Value': '7.5/10'},
   {'Source': 'Rotten Tomatoes', 'Value': '80%'},
   {'Source': 'Metacritic', 'Value': '68/100'}],
  'Metascore': '68',
  'imdbRating': '7.5',
  'imdbVotes': '737,404',
  'imdbID': 'tt0121766',
  'Type': 'movie',
  'DVD': '01 Nov 2005',
  'BoxOffice': '$380,270,577',
  'Production': 'N/A',
  'Website': 'N/A',
  'Response': 'True'},
 {'Title': 'Star Wars: Episode II - Attack of the Clones',
  'Year': '2002',
  'Rated': 'PG',
  'Released': '16 May 2002',
  'Runtime': '142 min',
  'Genre': 'Action, Adventure, Fantasy',
  'Director': 'George Lucas',
  'Writer': 'George Lucas, Jonathan Hales',
  'Actors': 'Hayden Christensen, Natalie Portman, Ewan McGregor',
  'Plot': 'Ten years after initially meeting, Anakin Skywalker shares a forbidden romance with Padm√© Amidala, while Obi-Wan Kenobi investigates an assassination attempt on the senator and discovers a secret clone army crafted for the Jedi.',
  'Language': 'English',
  'Country': 'United States',
  'Awards': 'Nominated for 1 Oscar. 19 wins & 65 nominations total',
  'Poster': 'https://m.media-amazon.com/images/M/MV5BMDAzM2M0Y2UtZjRmZi00MzVlLTg4MjEtOTE3NzU5ZDVlMTU5XkEyXkFqcGdeQXVyNDUyOTg3Njg@._V1_SX300.jpg',
  'Ratings': [{'Source': 'Internet Movie Database', 'Value': '6.5/10'},
   {'Source': 'Rotten Tomatoes', 'Value': '65%'},
   {'Source': 'Metacritic', 'Value': '54/100'}],
  'Metascore': '54',
  'imdbRating': '6.5',
  'imdbVotes': '665,373',
  'imdbID': 'tt0121765',
  'Type': 'movie',
  'DVD': '22 Mar 2005',
  'BoxOffice': '$310,676,740',
  'Production': 'N/A',
  'Website': 'N/A',
  'Response': 'True'},
 {'Title': 'Star Wars: Episode VIII - The Last Jedi',
  'Year': '2017',
  'Rated': 'PG-13',
  'Released': '15 Dec 2017',
  'Runtime': '152 min',
  'Genre': 'Action, Adventure, Fantasy',
  'Director': 'Rian Johnson',
  'Writer': 'Rian Johnson, George Lucas',
  'Actors': 'Daisy Ridley, John Boyega, Mark Hamill',
  'Plot': 'The Star Wars saga continues as new heroes and galactic legends go on an epic adventure, unlocking mysteries of the Force and shocking revelations of the past.',
  'Language': 'English',
  'Country': 'United States',
  'Awards': 'Nominated for 4 Oscars. 25 wins & 99 nominations total',
  'Poster': 'https://m.media-amazon.com/images/M/MV5BMjQ1MzcxNjg4N15BMl5BanBnXkFtZTgwNzgwMjY4MzI@._V1_SX300.jpg',
  'Ratings': [{'Source': 'Internet Movie Database', 'Value': '7.0/10'},
   {'Source': 'Rotten Tomatoes', 'Value': '91%'},
   {'Source': 'Metacritic', 'Value': '84/100'}],
  'Metascore': '84',
  'imdbRating': '7.0',
  'imdbVotes': '589,790',
  'imdbID': 'tt2527336',
  'Type': 'movie',
  'DVD': '27 Mar 2018',
  'BoxOffice': '$620,181,382',
  'Production': 'N/A',
  'Website': 'N/A',
  'Response': 'True'},
 {'Title': 'Star Wars: Episode IX - The Rise of Skywalker',
  'Year': '2019',
  'Rated': 'PG-13',
  'Released': '20 Dec 2019',
  'Runtime': '141 min',
  'Genre': 'Action, Adventure, Fantasy',
  'Director': 'J.J. Abrams',
  'Writer': 'Chris Terrio, J.J. Abrams, Derek Connolly',
  'Actors': 'Daisy Ridley, John Boyega, Oscar Isaac',
  'Plot': 'In the riveting conclusion of the landmark Skywalker saga, new legends will be born-and the final battle for freedom is yet to come.',
  'Language': 'English',
  'Country': 'United States',
  'Awards': 'Nominated for 3 Oscars. 11 wins & 59 nominations total',
  'Poster': 'https://m.media-amazon.com/images/M/MV5BMDljNTQ5ODItZmQwMy00M2ExLTljOTQtZTVjNGE2NTg0NGIxXkEyXkFqcGdeQXVyODkzNTgxMDg@._V1_SX300.jpg',
  'Ratings': [{'Source': 'Internet Movie Database', 'Value': '6.6/10'},
   {'Source': 'Rotten Tomatoes', 'Value': '52%'},
   {'Source': 'Metacritic', 'Value': '53/100'}],
  'Metascore': '53',
  'imdbRating': '6.6',
  'imdbVotes': '404,264',
  'imdbID': 'tt2527338',
  'Type': 'movie',
  'DVD': '20 Dec 2019',
  'BoxOffice': '$515,202,542',
  'Production': 'N/A',
  'Website': 'N/A',
  'Response': 'True'},
 {'Title': 'Solo: A Star Wars Story',
  'Year': '2018',
  'Rated': 'PG-13',
  'Released': '25 May 2018',
  'Runtime': '135 min',
  'Genre': 'Action, Adventure, Sci-Fi',
  'Director': 'Ron Howard',
  'Writer': 'Jonathan Kasdan, Lawrence Kasdan, George Lucas',
  'Actors': 'Alden Ehrenreich, Woody Harrelson, Emilia Clarke',
  'Plot': "Board the Millennium Falcon and journey to a galaxy far, far away in an epic action-adventure that will set the course of one of the Star Wars saga's most unlikely heroes.",
  'Language': 'English',
  'Country': 'United States',
  'Awards': 'Nominated for 1 Oscar. 6 wins & 25 nominations total',
  'Poster': 'https://m.media-amazon.com/images/M/MV5BOTM2NTI3NTc3Nl5BMl5BanBnXkFtZTgwNzM1OTQyNTM@._V1_SX300.jpg',
  'Ratings': [{'Source': 'Internet Movie Database', 'Value': '6.9/10'},
   {'Source': 'Rotten Tomatoes', 'Value': '70%'},
   {'Source': 'Metacritic', 'Value': '62/100'}],
  'Metascore': '62',
  'imdbRating': '6.9',
  'imdbVotes': '312,298',
  'imdbID': 'tt3778644',
  'Type': 'movie',
  'DVD': '25 Sep 2018',
  'BoxOffice': '$213,767,512',
  'Production': 'N/A',
  'Website': 'N/A',
  'Response': 'True'}]

# Data taken from https://www.omdbapi.com/ thanks to the Patronite support.